.field-game{
  max-width: 464px;
  height: auto;
  background-color: transparent;
  border: 2px solid #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}
